__pycache__/
*.py[cod]
*.pyc

.env
.venv/
venv/
env/

logs/
*.log

artifacts/*.joblib
artifacts/*.pkl
artifacts/*.png
artifacts/*.csv

data/raw/*.csv
data/processed/*.csv

.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

dist/
build/
*.egg-info/

tempCodeRunnerFile.py
